@mixin btn {
    border: none;
    color: white;
    background-color: #696773;
    box-shadow: 1px 1px 3px #022E3B;
    outline: none;
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
    transition: 0.3s ease-in-out;


    &:hover {
       // Button hover styles.
    }
}